body {
  padding: 0;
  margin: 0;
}

.title {
  height: 400px;
}

.image-container {
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#pokemon-form::placeholder {
  color: black;
}

.pokemon {
  background-color: white;
}
